//overlay
.c-modal {
    &__overlayleft {
        display: flex;
        align-items: center;
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.5);
        display: flex;
        justify-content: center;
        flex-direction: column;
        z-index: 1002;
    }

    &__overlayleft {
        display: none;
    }

    &__overlayright {
        display: flex;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.5);
        display: flex;
        // align-items: center;


        z-index: 1001;

    }



    &__menu {
        height: 100%;
        width: 50%;
        left: 0;
        padding-left: 5%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 3.8rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: absolute;
        z-index: 120;
    }

    &__item {
        margin-bottom: 40px;
        cursor: pointer;
    }

    &__menu2 {
        height: 100%;
        width: 30%;
        left: 0;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: unset;
        text-transform: uppercase;
        letter-spacing: 1px;
        position: fixed;
        z-index: 120;
        background-color: $color-bg;
        padding-top: 150px;
        padding-left: 10px;
        padding: 150px 10px 50px;
        overflow-y: auto;
    }

    &__songitem {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 4px;
        transition: background linear 0.2s;

        &:hover {
            background: rgba(255, 255, 255, 0.5);
        }

    }

    .is-active {
        background: rgba(255, 255, 255, 0.5);
    }

    &__image {
        width: 30px;
        height: 30px;
        object-fit: cover;
        margin-right: 10px;
        pointer-events: none;
    }

    &__number {
        font-size: 1.4rem;
        font-weight: 500;
        display: inline-block;
        margin-right: 10px;
        margin-left: 10px;
        pointer-events: none;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        pointer-events: none;
    }

    &__song {
        font-size: 1.4rem;
        font-weight: 500;
    }

    &__author {
        font-size: 1.3rem;
        text-transform: none;
    }


    &__icon {
        margin-left: auto;
        font-size: 2rem;
        line-height: 1;
    }




    &__content {
        margin-left: 30%;
        padding: 10px;
        overflow-y: auto;
    }

    &__contenttitle {
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 500;
    }

    &__album {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__albumitem {
        max-width: 160px;
        max-height: 210px;
        width: 100%;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 15px;

        &:hover {
            background: rgba(255, 255, 255, 0.5);
        }
    }

    &__albumimg {
        height: 160px;
        margin-bottom: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__albumtitle {
        font-size: 1.6rem;
        font-weight: 500;
    }

    &__albumdesc {
        font-size: 1.4rem;
        font-weight: 400;
    }


}
