.c-playlist {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;

    &__heading {
        display: flex;
        align-items: center;
        position: relative;
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
    }



    &__content {
        height: 80%;
        width: 100%;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: unset;
        text-transform: uppercase;
        letter-spacing: 1px;
        position: absolute;
        z-index: 120;
        background-color: $color-bg;
    }

    &__list {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 10px;
        overflow-y: scroll;
    }

    &__title {
        font-size: 4rem;
        text-transform: uppercase;
        font-weight: 700;
        margin-left: 75px;
        margin-right: 30px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        cursor: pointer;
        overflow: hidden;
    }

    &__search {
        display: flex;
        align-items: center;
    }

    &__info {
        display: flex;
        align-items: center;
        max-width: 900px;
    }

    &__track {
        width: 50px;
        margin-right: 10px;
        display: flex;
    }

    &__ellip {
        font-size: 1.5rem;
        cursor: pointer;
    }

    &__btnback {
        font-size: 3rem;
        cursor: pointer;
    }

    &__avt {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__name {
        display: flex;
        flex-direction: column;

    }

    &__namesong {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .is-active {
        background-color: #f9f2ef;
    }

    &__nameauthor {
        font-size: 1.2rem;
        color: #eaa397;
    }
}

// //search btn
// #content {
//     position: absolute;
//     height: 50px;
//     width: 300px;
//     margin-left: 170px;
//     top: 50%;
//     right: 0;
// }


// #content.on {
//     animation-name: in-out;
//     animation-name: in-out;
//     animation-duration: 0.7s;
//     animation-duration: 0.7s;
//     animation-timing-function: linear;
//     animation-timing-function: linear;
//     animation-iteration-count: 1;
//     animation-iteration-count: 1;
// }

// input {
//     box-sizing: border-box;
//     width: 50px;
//     height: 50px;
//     border: 4px solid #eaa397;
//     border-radius: 50%;
//     background: none;
//     color: #fff;
//     font-size: 16px;
//     font-weight: 400;
//     font-family: inherit;
//     outline: 0;
//     transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
//         padding 0.2s;
//     transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
//         padding 0.2s;
//     transition-delay: 0.4s;
//     transition-delay: 0.4s;
//     transform: translate(-100%, -50%);
//     transform: translate(-100%, -50%);
//     transform: translate(-100%, -50%);
// }

// .search {
//     background: none;
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 50px;
//     width: 50px;
//     padding: 0;
//     border-radius: 100%;
//     outline: 0;
//     border: 0;
//     color: inherit;
//     cursor: pointer;
//     transition: 0.2s ease-in-out;
//     transition: 0.2s ease-in-out;
//     transform: translate(-100%, -50%);
//     transform: translate(-100%, -50%);
//     transform: translate(-100%, -50%);
// }

// .search::before {
//     content: "";
//     position: absolute;
//     width: 20px;
//     height: 4px;
//     background-color: #eaa397;
//     transform: rotate(45deg);
//     transform: rotate(45deg);
//     transform: rotate(45deg);
//     margin-top: 26px;
//     margin-left: 17px;
//     transition: 0.2s ease-in-out;
//     transition: 0.2s ease-in-out;
// }

// .close {
//     transition: 0.4s ease-in-out;
//     transition: 0.4s ease-in-out;
//     transition-delay: 0.4s;
//     transition-delay: 0.4s;
// }

// .close::before {
//     content: "";
//     position: absolute;
//     width: 27px;
//     height: 4px;
//     margin-top: -1px;
//     margin-left: -13px;
//     background-color: #eaa397;
//     transform: rotate(45deg);
//     transform: rotate(45deg);
//     transform: rotate(45deg);
//     transition: 0.2s ease-in-out;
//     transition: 0.2s ease-in-out;
// }

// .close::after {
//     content: "";
//     position: absolute;
//     width: 27px;
//     height: 4px;
//     background-color: #eaa397;
//     margin-top: -1px;
//     margin-left: -13px;
//     cursor: pointer;
//     transform: rotate(-45deg);
//     transform: rotate(-45deg);
//     transform: rotate(-45deg);
// }

// .square {
//     box-sizing: border-box;
//     padding: 0 40px 0 10px;
//     width: 300px;
//     height: 50px;
//     border: 4px solid #eaa397;
//     border-radius: 15px;
//     background: none;
//     color: #000;
//     font-family: Roboto;
//     font-size: 16px;
//     font-weight: 400;
//     outline: 0;
//     transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
//         padding 0.2s;
//     transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
//         padding 0.2s;
//     transition-delay: 0.4s, 0s, 0.4s;
//     transition-delay: 0.4s, 0s, 0.4s;
//     transform: translate(-100%, -50%);
//     transform: translate(-100%, -50%);
//     transform: translate(-100%, -50%);
// }

// .line {
//     display: inline-block;
//     width: 5px;
//     height: 5px;
//     border-radius: 5px;
//     background-color: #4b9cdb;
//     user-select: none;
// }


// .load-1 .line:nth-last-child(1) {
//     animation: loadingA 1.5s 1s infinite;
// }

// .load-1 .line:nth-last-child(2) {
//     animation: loadingA 1.5s 0.5s infinite;
// }

// .load-1 .line:nth-last-child(3) {
//     animation: loadingA 1.5s 0s infinite;
// }

// @keyframes loadingA {
//     0% {
//         height: 5px;
//     }

//     50% {
//         height: 15px;
//     }

//     100% {
//         height: 10px;
//     }
// }
