.c-player {
    position: fixed;
    width: 100%;
    z-index: 1200;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-gray;
    color: #fff;
    height: 90px;
    padding: 10px 30px;
    overflow: hidden;

    &__info {
        display: flex;
        align-items: center;
        width: 30%;

    }

    ion-icon {
        font-size: 2rem;
        line-height: 1;
        cursor: pointer;
    }

    &__name {
        span {
            display: block;

        }
    }

    &__namesong {
        font-size: 1.4rem;
        font-weight: 500;
    }

    &__nameauthor {
        font-size: 1.3rem;

    }

    &__img {
        width: 60px;
        height: 60px;

        border-radius: 100px;
        margin-right: 10px;
        overflow: hidden;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    &__img.is-playing {

        animation: spinner 5s infinite linear;

    }

    &__track {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;
    }

    &__control {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 20px;

        .pause {
            display: none;
        }


    }

    .is-random ion-icon {
        color: linear-gradient(to bottom #fa8b26 0%, #a742c6 100%);

    }

    &__progress {
        display: flex;
        align-items: center;
        position: relative;

        input {
            width: 300px;
            height: 0;
            border: 2px solid;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 0;
            cursor: pointer;
        }
    }

    &__start {
        position: absolute;
        left: 0;
        font-size: 1.4rem;
    }

    &__end {
        position: absolute;
        right: 0;
        font-size: 1.4rem;
    }

    &__vol {
        width: 15%;
        display: flex;
        align-items: center;

        input {
            width: 100px;
            height: 0;
            border: 2px solid;
            right: 0;
            position: absolute;
            cursor: pointer;
        }
    }
}